<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'detail_q.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {%  bootstrap_javascript %}
    
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1> <br>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'list_user' %}">Menu</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px"  href="{% url 'delete_user' object.id %}">Delete</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'update_user' object.id %}">Update</a>
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                
                <h3>Fullname: {{object.fulname}}</h3>
                <h3>Age: {{object.age}}</h3>
                <h3>Phone: {{object.phone}}</h3>
                <h3>Username: {{object.username}}</h3>
            </div>
        </div>


{% endblock content %}
</body>
</html>