<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'detail_q.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {%  bootstrap_javascript %}
    
</head>
<body>


    <header>
            <div class="a111">
            <h1>Welcome your Detail</h1> <br>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'list_anwr' %}">Menu</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px"  href="{% url 'delete_anwr' object.id %}">Delete</a>
            <a style="width: 50 px; height: 30px;margin-top: 50px" href="{% url 'update_anwr' object.id %}">Update</a>
    </div>
    </header>
    {% block content %}
    <div class="container">
            <div class="card">
                
                <h3>Title: {{object.title}}</h3>
                <h3>Description: {{object.description}}</h3>
                <h3>user: {{object.user}}</h3>
                <h3>user: {{object.ques_id}}</h3>
                <h3>Resume: <a href="{{ object.resume }}" download>Download</a></h3>
                <h3>Created at: {{object.created_at}}</h3>
                <h3>Is active: {{object.is_active}}</h3>
            </div>
        </div>


{% endblock content %}
</body>
</html>